@model string
@{
    ViewData["Title"] = "NotImplemented";
}

<h1>Henüz geliştirilmedi</h1>
<p>Çalıştırdığınız metod içerisinde; tamamlanmamış bir fonksion mevcut.</p>
<p>Uygulamanın mesajı: @Model</p>

